# Unity specific files - mark as documentation/generated
ProjectSettings/* linguist-documentation
Packages/* linguist-documentation
Assets/TextMesh* linguist-documentation
*.meta linguist-generated
*.mat linguist-generated
*.asset linguist-generated
*.anim linguist-generated
*.unity linguist-generated
*.prefab linguist-generated
*.physicsMaterial2D linguist-generated
*.physicsMaterial linguist-generated
*.controller linguist-generated

# Mark C# as your primary language
*.cs linguist-language=C#

# Hide shader files from language stats
*.shader linguist-detectable=false
*.shadergraph linguist-detectable=false
*.hlsl linguist-detectable=false
*.hlsl linguist-language=HLSL linguist-detectable=false linguist-documentation=true